.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input {
	min-height: 160px;
	width: 516px;
	border: 1px solid var(--border-color);
}

.label {
	font-family: var(--font-ibm);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;

	line-height: 0.8;
}

.input::placeholder {
	font-family: var(--font-inter);
	font-size: 14px;
	color: var(--placeholder);
}

.input {
	font-family: var(--font-inter);
	font-size: 14px;
	color: var(--primary);
	position: absolute;
	top: 14px;
	left: 10px;
}

.input:focus {
	outline: none;
	border: 1px solid var(--primary-light);
}

.error {
}
