.author-chip {
	padding: 3px;
	padding-right: 6px;
	border: 1px solid var(--border-color);
	border-radius: 50px;
	display: flex;
	align-items: center;
	gap: 4px;
	width: fit-content;
}

.image {
	width: 17px;
	height: 17px;
	flex-shrink: 0;
	background-color: var(--image-bg);
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.author-chip span {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 0.8;
	font-family: 'IBM Plex Mono', monospace;
	letter-spacing: 0.04rem;
	white-space: nowrap;
}
