.container {
	height: 32px;
	justify-content: center;
	align-items: center;

	font-family: var(--font-ibm);
	text-transform: uppercase;
	color: var(--white);
	font-size: 14px;
	font-weight: 500;

	line-height: 0.8;

	padding: 0 16px;

	background-color: var(--primary);
	border-radius: 40px;

	width: fit-content;
}
