.search-box {
	display: flex;
	align-items: center;
	border: 1px solid var(--border-color);
	width: 100%;
	height: 40px;
	padding: 0 10px;
}

.search-box input {
	flex: 1;
	height: 100%;
	margin: 0 8px;
	outline: none;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.search-box input::placeholder {
	color: var(--border-color);
}

.clear {
	cursor: pointer;
}

.clear:active {
	opacity: 0.5;
}
