.container{
    display: flex;
    gap: 24px;
    padding: 0 24px;
    margin: 10% 0;
}

.coverContainer{
    width: min-content;
    height: min-content;
    padding: 10px;

    border: var(--border-color) 2px dashed;
}

.cover {
    width: 240px;
	aspect-ratio: 6 / 9;
	background-color: var(--image-bg);
    background-position: center;
	background-size:contain;
    flex-grow: 1;
}

.title{
    font-size: clamp(16px, 6.6vw, 36px);
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 8px;
}

.description{
    width: clamp(250px, 80%, 500px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    flex-grow: 1;
}

.detailsChip{
    display: flex;
    align-items: center;
    height: 34px;
    max-width: 500px;
    border-bottom: var(--border-color) 1px solid;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    gap: 12px;
}

.key{
    font-weight: bold;
}

.value {
    font-weight:normal;
}

@media screen and (max-width: 770px) {
    .container{
        flex-direction: column;
        gap: 16px;
        width: fit-content;
        height: fit-content;
    }

    .cover {
        width: 180px;
	    aspect-ratio: 6 / 9;
    }
    .title{
        font-size: 20px ;
    }
    .detailsChip{
        font-size: 12px;
    }

    .detailsChip{
        max-width: 100%;
    }
    
}