.blog-post-vertical {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 970px;
}

.index {
	font-size: 56px;
	font-family: 'IBM Plex Mono', monospace;
	line-height: 0.8;
	margin-bottom: 16px;
}

.image {
	width: 100%;
	aspect-ratio: 12 / 9;
	background-color: var(--image-bg);
	background-position: center;
	background-size: cover;
	flex-shrink: 0;
}

.top {
	padding: 16px 4px;
	display: flex;
	flex-direction: column;
}

.tag-date-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 14px;
}

.date {
	font-size: 14px;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 0.8;
	white-space: nowrap;
}

.title {
	font-size: clamp(20px, 1.7vw, 24px);
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 8px;
}

.description {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: var(--primary-light);
	line-height: 1.5;
	margin-bottom: 14px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 42px;
	text-overflow: ellipsis;

	display: none;
}

.authors-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-wrap: wrap;
}

@media (max-width: 1070px) {
}

@media (max-width: 640px) {
	.right {
		padding-right: 0;
		padding-left: 10px;
	}

	.authors-wrapper {
		display: none;
	}

	.description {
		margin-bottom: 0;
	}
}
