.header {
	display: flex;
	padding: 32px;
	border-bottom: 1px solid var(--border-color);
}

.header-left {
	flex: 1;
}

.header-right {
	flex: 1;
	border: 1px solid var(--border-color);
	border-top: none;
	border-bottom: none;
	padding: 0 16px;
	min-width: 600px;
}

.blog-post-horizontal-wrapper {
	padding: 16px 0;
	border-bottom: 1px solid var(--border-color);
}

.blog-post-horizontal-wrapper:last-child {
	border: none;
}

@media (max-width: 1070px) {
	.header {
		flex-direction: column;
		gap: 64px;
		padding: 32px 24px;
	}

	.header-right {
		min-width: unset;
	}
}

@media (max-width: 640px) {
	.header {
		padding: 24px 10px;
	}

	.header-right {
		padding: 0 10px;
	}
}
