.container {
	display: flex;

	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.leftWrapper {
	display: flex;
	flex-direction: column;
	padding: 40px;
	gap: 32px;
	width: 50%;

	border-right: 1px solid var(--border-color);
}

.rightWrapper {
	display: flex;
	flex-direction: column;
	padding: 40px;
	gap: 32px;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	display: flex;
	gap: 8px;
	align-items: center;
	font-family: var(--font-epilogue);
	font-size: 26px;
	font-weight: 500;
	line-height: 0.8;
}

.ellipse {
	height: 13px;
	width: 13px;
	border-radius: 100px;
	background-color: var(--primary);
}

.address {
	width: 300px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 14px;

	font-family: var(--font-inter);
	font-size: 16px;
	line-height: 1.3;
}

.logos {
	display: flex;
	gap: 12px;
}

.logo {
	display: flex;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--border-color);
	border-radius: 100px;
}
