@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #0430ca;
	--primary-light: #5872cf;
	--image-bg: #eef9ff;
	--border-color: #cfdaff;
	--white: #fff;
	--placeholder: #b9c7f4;

	--navbar-height: 52px;
	--sub-nav-height: 42px;

	--font-inter: 'Inter', sans-serif;
	--font-ibm: 'IBM Plex Mono', monospace;
	--font-epilogue: 'Epilogue', sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	/* overflow-x: hidden; */
	min-width: 390px;
	color: var(--primary);
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--navbar-height) + var(--sub-nav-height));
	min-height: 100vh;
	height: 100%;
}

#__next {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
