@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #0430ca;
	--primary-light: #5872cf;
	--image-bg: #eef9ff;
	--border-color: #cfdaff;
	--white: #fff;
	--placeholder: #b9c7f4;

	--navbar-height: 52px;
	--sub-nav-height: 42px;

	--font-inter: 'Inter', sans-serif;
	--font-ibm: 'IBM Plex Mono', monospace;
	--font-epilogue: 'Epilogue', sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	/* overflow-x: hidden; */
	min-width: 390px;
	color: var(--primary);
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--navbar-height) + var(--sub-nav-height));
	min-height: 100vh;
	height: 100%;
}

#__next {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	min-height: calc(100vh-var(--navbar-height));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	
	overflow-y: hidden;
}

.hero-heading{
	line-height: 48px;
	font-family: 'Inter' , sans-serif !important ;
	font-size: 48px;
}

@media screen and (max-width:500px) {
	.hero-heading{
		line-height: 20px;
		font-size: 20px;
	}

	.hero-img-container{
		height: 150px;
	}

}

.hero-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100%;
	max-width: none; /*helps the image overflow*/
	min-width: 100vw;
}


