@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #0430ca;
	--primary-light: #5872cf;
	--image-bg: #eef9ff;
	--border-color: #cfdaff;
	--white: #fff;

	--navbar-height: 52px;
	--sub-nav-height: 42px;
}

* {
	box-sizing: border-box;
}

html,
body {
	/* overflow-x: hidden; */
	min-width: 390px;
	color: var(--primary);
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--navbar-height) + var(--sub-nav-height));
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
